<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554677648096-4lcu8jr4rdjemesro6gj445btippl872.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554677648096-4lcu8jr4rdjemesro6gj445btippl872</string>
	<key>API_KEY</key>
	<string>AIzaSyA_Ioi8Z3DFRsl3a8Mndi77oVA_stHuAWA</string>
	<key>GCM_SENDER_ID</key>
	<string>554677648096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rorshix97-gmail.com.Diploma</string>
	<key>PROJECT_ID</key>
	<string>diploma-1037e</string>
	<key>STORAGE_BUCKET</key>
	<string>diploma-1037e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554677648096:ios:383da4c4665e75f460ae85</string>
</dict>
</plist>